@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@200;300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import "tailwindcss";


html {
    scroll-behavior: smooth;
}


.no-scroll-bar {
    scrollbar-width: none;         
    -ms-overflow-style: none;      
  }
  
  .no-scroll-bar::-webkit-scrollbar {
    display: none;                 
  }

.noise-div {
    width: 100%; /* Ajusta el tamaño que necesites */
    height: 100%;
    background-color: white; /* Fondo blanco */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='5' numOctaves='3' stitchTiles='stitch'/%3E%3CfeComponentTransfer%3E%3CfeFuncA type='discrete' tableValues='0 1'/%3E%3C/feComponentTransfer%3E%3C/filter%3E%3Crect width='100%' height='100%' filter='url(%23noiseFilter)' opacity='0.2'/%3E%3C/svg%3E");
    opacity: 1; /* Ajusta la intensidad del ruido */
    border-radius: 10px; /* Opcional: bordes redondeados */
}

.font-turret-road{
    font-family: 'Turret Road';
}

.font-rubik-iso{
    font-family: 'Rubik Iso';
}

.font-orbitron{
    font-family: 'Orbitron';
}

.bm-menu-wrap{
    top: 0;
    overflow: hidden;
}

.bm-menu{
    overflow: hidden !important;
}

.bm-overlay{
    left: 0;
    top: 0;
    overflow: hidden;
}

.bm-burger-button{
    display: none;
}

.grid-important{
    display: grid !important;
}

@media (min-width: 1024px) {
    body {
        cursor: none;
    }
}

@media (min-width: 640px) {
    .bm-menu-wrap{
        width: 50% !important;
    }
}

