@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@200;300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import "tailwindcss";






* {
  scrollbar-width: thin;
  scrollbar-color: #bcd1ec #000000;
}


*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background-color: #000000;
}

*::-webkit-scrollbar-thumb {
  background-color: #bcd1ec;
  border-radius: 8px;
  border: 2px solid transparent;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #a7c4e6;
}

.no-scroll-bar {
    scrollbar-width: none;         
    -ms-overflow-style: none;      
  }
  
.no-scroll-bar::-webkit-scrollbar {
    display: none;                 
}





.font-turret-road{
    font-family: 'Turret Road';
}

.font-rubik-iso{
    font-family: 'Rubik Iso';
}

.font-orbitron{
    font-family: 'Orbitron';
}

.bm-menu-wrap{
    top: 0;
    overflow: hidden;
}

.bm-menu{
    overflow: hidden !important;
}

.bm-overlay{
    left: 0;
    top: 0;
    overflow: hidden;
}

.bm-burger-button{
    display: none;
}

.grid-important{
    display: grid !important;
}

@media (min-width: 1024px) {
    body {
        cursor: none;
    }
}

@media (min-width: 640px) {
    .bm-menu-wrap{
        width: 50% !important;
    }
}

